<template>
  <q-page padding>
    <QuoteForm
      componentHeading="Add Quote"
      :id=null
      @submit="submit" />
  </q-page>
</template>
  
<script>
import QuoteForm from "@/components/QuoteForm";
import showErrorNotification from '../notification/ErrorNotificationService';
import { useMeta } from 'quasar';

export default {

  components: {
    QuoteForm
  },

  setup() {
    useMeta(
      {
        title: "Add"
      }
    )
  },

  methods: {
    /**
     * Add a quote with the data quoteData to the database.
     * If this is successful, the router is pushed to 'List Quotes'.
     * Otherwise, an error is displayed
     */
    submit(quoteData) {
      this.$api
        .createNew(quoteData)
        .then(
          (response) => {
            this.$log.debug("New item created:", response)
            this.$router.push({ name: 'List Quotes' })
          }
        ).catch(
          (error) => {
            this.$log.error(error);
            showErrorNotification("Failed to add quote")
          }
        );
    },
  }
}
</script>