<template>
  <q-page class="full-width default-flex" padding>
    <q-card class="flex-column">
      <q-card-section class="flex-column">
        <div class="text-h4 q-pb-md">Quotes</div>
        <q-scroll-area class="default-flex scroll-area">
          <q-list padding>
            <QuoteItem
              v-for="(item, index) in allQuotes" :key="item.id"
              :item="item"
              :deleteMe="handleClickDelete"
            >
              <q-separator
                v-if="!isLastIndexOfQuotes(index)"
                spaced
                inset
                size="2px"
                color="secondary"
              />
            </QuoteItem>
          </q-list>
        </q-scroll-area>
      </q-card-section>
      <q-btn :to="{name: 'Add Quote'}">
        <q-icon color="green" name="add_circle_outline" />
      </q-btn>
    </q-card>
  </q-page>
</template>

<script>

import QuoteItem from "@/components/QuoteItem";
import Quote from "../model/Quote";
import { ref } from 'vue'
import showErrorNotification from '../notification/ErrorNotificationService';
import { useMeta } from 'quasar';

export default {
  name: 'LayoutDefault',

  components: {
    QuoteItem
  },

  data: function() {
    return {
      /**
       * Array of quotes listed by this component.
       * 
       * @type{Quote[]}
       */
      quotes: [],

      visibility: 'all',
      loading: true,
    }
  },

  setup() {
    useMeta(
      {
        title: "Quotes"
      }
    )

    return {
      alert: ref(false),
    }
  },
  mounted() {
    this.$api.getAll()
        .then(response => {
          this.$log.debug("Data loaded: ", response.data)
          this.quotes = response.data.map(
            dataObject => Quote.createFromDataObject(dataObject)
          )
        })
        .catch(error => {
          this.$log.debug(error)
          showErrorNotification("Failed to load quotes")
        })
        .finally(() => this.loading = false)
  },

  computed: {
    /**
     * Array of quotes listed by this component.
     * 
     * @type{Quote[]}
     */
    allQuotes() {
      return this.quotes
    }
  },

  methods: {
    /**
     * @param {number} index
     *
     * @return true iff the given index is the last available index for
     * the list allQuotes
     */
    isLastIndexOfQuotes(index) {
      return index + 1 === this.allQuotes.length
    },

    handleClickDelete(id) {
      const quoteToRemove = this.quotes.find(quote => quote.id === id)
      this.$api.removeForId(id).then(() => {
        this.$log.debug("Item removed:", quoteToRemove);
        this.quotes.splice(this.quotes.indexOf(quoteToRemove), 1)
      }).catch((error) => {
        this.$log.debug(error);
        showErrorNotification("Failed to remove quote")
      });
    },
  },

}
</script>
<style lang="scss">
.scroll-area {
  border: 1px solid $dark;
  border-radius: 5px;
}

.default-flex {
  flex:1;
  display:flex;
}

.flex-column {
  flex:1;
  display:flex;
  flex-direction:column;
}
</style>