<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{ componentHeading }}</div>
      <q-form @submit="submit">
        <q-input label="Quote" v-model="quoteData.content" type="textarea" />
        <q-input label="Author" v-model="quoteData.author" />
      </q-form>
    </q-card-section>
    <q-card-section>
      <q-btn color="secondary" :to="{ name: 'List Quotes' }">
        <q-icon color="white" name="arrow_back" size="1.5rem" />
      </q-btn>
      <q-btn class="right" label="Submit" color="secondary" @click="submit" />
    </q-card-section>
  </q-card>
</template>

<script>
import showErrorNotification from '../notification/ErrorNotificationService';
import Quote from '../model/Quote';
import QuoteData from '@/model/QuoteData';
import { useMeta } from 'quasar';

/**
 * This model provides a form in which one can edit the data of a quote.
 */
export default {
  name: "QuoteForm",

  props: {
    /**
     * Heading displayed on the top of this component.
     */
    componentHeading: String,
    
    /**
     * ID of the Quote whose data is initially filled into the form.
     * If id is null, then the form will be initially empty.
     */
    id: String,
  },

  setup() {
    useMeta(
      {
        titleTemplate: (title) => `GtL • Quotes • ${title}`
      }
    )
  },

  data: function () {
    return {
      /**
       * This QuoteData models the data edited in this form.
       */
      quoteData: new QuoteData()
    }
  },

  /**
   * Initially the QuoteData of the quote with the ID this.id is filled into 
   * the form.
   * If loading that data from the server fails, then the browser will be 
   * send to the scene with the list of all quotes.
   * In that case also a toast is shown which shows an appropriate error 
   * message.
   * If this.id is null, then the form is left empty.
   */
  async mounted() {
    try {
      await this.loadQuoteData();
    } catch (error) {
      this.$log.debug(error);
      this.handleFailedToLoadQuote("Failed to load quote");
    }
  },

  methods: {
    /**
     * Emits an event called submit and forwards this.quoteData to the 
     * listeners.
     */
    submit() {
      return this.$emit(
        'submit',
        this.quoteData
      )
    },

    /**
     * Fills the QuoteData of the associated quote, which is the quote with 
     * the ID this.id, into the form.
     * If this.id is null, then the form is left empty.
     * If the associated quote does not exist in the database, then the browser
     * will be send to the scene with the list of all quotes.
     * In that case also a toast is shown which shows a corresponding message.
     * If loading the data about the associated quote from the server
     * fails, then an error is thrown.
     */
    async loadQuoteData() {
      if (!this.id) {
        return;
      }

      let response = await this.$api.getForId(this.id)

      if (!response.data) {
        this.handleFailedToLoadQuote("There is no quote with the id " + this.id);
      } else {
        this.quoteData = Quote.createFromDataObject(response.data)
      }
    },

    /**
     * Shows an error notification in form of a toast.
     * This error notification displays the message given by errorMessage.
     * The browser will be send to the scene with the list of all quotes.
     * 
     * @param {string} errorMessage
     */
    handleFailedToLoadQuote(errorMessage) {
      showErrorNotification(errorMessage)
      this.$router.push({name: "List Quotes"})
    },
  }
}
</script>

<style>
.right {
  float: right
}
</style>