<template>
  <q-item class="quote-item">
    <q-item-section>
      <q-item-label class="text-uppercase author text-overline"  v-if="item.author">
        {{item.author }}
      </q-item-label>
      <q-item-label class="text-italic">
        {{ this.item.content}}
      </q-item-label>
    </q-item-section>
    <q-item-section avatar class="hide-icon">
      <router-link style="text-decoration: none" :to="{name: 'Edit Quote', params: {id: item.id}}">
        <q-icon size="sm" color="primary" name="edit"/>
      </router-link>
    </q-item-section>
    <q-item-section avatar class="hide-icon close-icon" @click="handleClickDelete">
      <q-icon size="sm" color="red" name="close"/>
    </q-item-section>
  </q-item>
  <slot />
</template>
<script>
export default {
  name: "QuoteItem",
  props: {
    item: Object,
    deleteMe: Function,
    setCompleted: Function
  },
  methods: {
    handleClickDelete() {
      this.deleteMe(this.item.id)
    }
  }
}
</script>

<style scoped lang="scss">
.quote-item .close-icon {
  min-width: 0px;
  padding-left: 5px !important;
}

.quote-item .hide-icon {
  opacity: 0.1;
}

.quote-item:hover .hide-icon {
  opacity: 0.8;
}

.author {
  font-size: medium;
  color: $grey-5;
}

.quote-item:hover .author {
  color: $secondary;
}

.quote-item:hover {
  background: $grey-3;
  color: $primary;
}
</style>